/**
Color Pallete:
Black #05080A
Dark Green #273238
Gray #5D7283
Mustard #F5BC53
Orange #F08233
Red #A62A22
Beige #E5D4BE
*/

body {
    background-color: #05080a;
}

h1 {
    color: #F08233;
}

h2 {
    color: #F5BC53;
}

p {
    color: #E5D4BE;
}

a {
    text-decoration: none;
    padding: 12px;
    width: 10%;
    height: 100%;
    vertical-align: middle;
}

.actions {
    display: inline-block;
    width: 15%;
    text-align: right;
}

nav {
    display: inline-block;
    text-align: center;
    margin: 12px;
    width: 75%;
    height: 100%;
}

li {
    color: #E5D4BE;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}
